<div class="job-list-container">
  <mat-card *ngFor="let job of jobs" class="job-card" data-testid="job-card">
    <div class="job-card-title">
      <div>
        <h2 class="mat-h2" data-testid="job-title">{{ job.title }}</h2>
        <h3 class="job-card-subtitle">{{ job.speciality }}</h3>
      </div>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="job-card-content">
      <p>{{ job.description }}</p>
    </div>
    <div class="job-card-footer">
      <mat-icon>location_on</mat-icon>
      <span>{{ job.location }}</span>
    </div>
  </mat-card>
</div>
