<button mat-raised-button color="primary" class="open-close-button" (click)="openCloseForm()">{{ buttonText }}</button>

<div *ngIf="showForm" class="popup">
  <form [formGroup]="jobForm" (ngSubmit)="submitForm()" class="job-form">
    <mat-form-field appearance="fill">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ville</mat-label>
      <input matInput formControlName="location" [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let city of citySuggestions$ | async" [value]="city">
          {{ city }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Spécialité</mat-label>
      <input matInput formControlName="speciality" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="jobForm.invalid">Valider</button>
  </form>
</div>
